<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.Mytube.mapper.PostMapper">
    <insert id="addMovie" useGeneratedKeys="true" keyProperty="request.id" parameterType="com.flab.Mytube.dto.movie.MovieDTO">
        INSERT INTO
        movie (userId, subject, url)
        VALUES
        (#{request.streamerId}, #{request.subject}, #{request.url})
    </insert>
    <insert id="reserveShow" useGeneratedKeys="true" keyProperty="request.id" parameterType="com.flab.Mytube.dto.movie.LiveStreamingDTO">
        INSERT INTO
        liveStreaming (userId, movieId, title, contents, reservedAt)
        VALUES
        (#{request.streamerId},#{request.movieId}, #{request.title}, #{request.contents}, #{request.reservedTime})
    </insert>

    <select id="findByStartingStreamingId" resultType="com.flab.Mytube.dto.movie.response.StartingShowResponse">
        SELECT id, movieId, title, contents, userCount, thumbsUp
        FROM liveStreaming
        WHERE id = #{id}
    </select>

<!--    <select id="selectShow" parameterType="com.flab.Mytube.dto.movie.LiveStreamingDTO" resultType="com.flab.Mytube.dto.movie.LiveStreamingDTO">-->
<!--        select-->
<!--        id, title, contents-->
<!--        from live_streaming-->
<!--        where id = #{request.id}-->
<!--    </select>-->

<!--    <insert id="joinChat" useGeneratedKeys="true" keyProperty="param.ID">-->
<!--        INSERT INTO-->
<!--        LiveStreaming (USER_ID, MOVIE_ID, CONTENTS)-->
<!--        VALUES-->
<!--        (#{param.userId},#{param.movie_id}, #{param.chatContents})-->
<!--    </insert>-->
</mapper>