<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.Mytube.mapper.ReadMapper">
    <update id="liveDelete" useGeneratedKeys="true" keyProperty="request.id" parameterType="com.flab.Mytube.dto.movie.MovieDTO">
        UPDATE INTO liveStreaming (deletedAt) VALUES CURRENT_TIMESTAMP
    </update>
    <select id="movieReplay" resultType="com.flab.Mytube.dao.LivePageDAO">
        SELECT id, title, contents, userCount, thumbsUp, reservedAt, updatedAt, deletedAt
        FROM liveStreaming WHERE userId = #{request.streamerId} ;
    </select>

    <select id="getLiveList" resultType="com.flab.Mytube.dao.LivePageDAO">
        SELECT id, title, contents, userCount, thumbsUp, reservedAt, updatedAt, deletedAt
        FROM liveStreaming WHERE userId = #{request.streamerId} and deletedAt is NULL;
    </select>
</mapper>