<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.Mytube.mapper.LiveMapper">
    <select id="checkPrefer" parameterType="com.flab.Mytube.dto.movie.request.ThumbsUpRequest" resultType="long">
        select count(id) from streamingLike
        where streamingId = #{request.liveId} and userId = #{request.userId}
    </select>

    <insert id="addPrefer" parameterType="com.flab.Mytube.dto.movie.request.ThumbsUpRequest">
        insert into streamingLike(streamingId, userId)
        values(#{request.liveId}, #{request.userId})
    </insert>

    <delete id="deletePrefer" parameterType="com.flab.Mytube.dto.movie.request.ThumbsUpRequest">
        delete from streamingLike
        where streamingId = #{request.liveId} and user_id = #{request.userId}
    </delete>

    <select id="getPreferCount" parameterType="com.flab.Mytube.dto.movie.request.ThumbsUpRequest" resultType="long">
        select thumbs_up from live_streaming
        where id = #{request.liveId}
    </select>

    <update id="updatePrefer" parameterType="com.flab.Mytube.dto.movie.request.ThumbsUpRequest">
        update live_streaming set thumbs_up = #{request.count}
        where id = #{request.liveId}
    </update>
</mapper>