<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.Mytube.mapper_v1.PostMapper">
    <insert id="addMovie" useGeneratedKeys="true" keyProperty="request.id" parameterType="com.flab.Mytube.dto.movie.request.FileUploadRequest">
        INSERT INTO
        movie (userId, subject, url)
        VALUES
        (#{request.chanelId}, #{request.subject}, #{request.url})
    </insert>
<!--    <insert id="reserveShow" useGeneratedKeys="true" keyProperty="request.id" parameterType="com.flab.Mytube.dto.streaming.LiveStreamingDTO">-->
<!--        INSERT INTO-->
<!--        liveStreaming (userId, movieId, title, contents, reservedAt)-->
<!--        VALUES-->
<!--        (#{request.streamerId},#{request.movieId}, #{request.title}, #{request.contents}, #{request.reservedTime})-->
<!--    </insert>-->

<!--    <select id="findByStartingLiveId" resultType="com.flab.Mytube.vo.LiveStreamingVO">-->
<!--        SELECT id, movieId, title, contents, userCount, thumbsUp-->
<!--        FROM liveStreaming-->
<!--        WHERE id = #{id}-->
<!--    </select>-->

    <select id="getMovieUrl" resultType="com.flab.Mytube.vo.MovieVO">
        SELECT id, userId, subject, url, createdAt, deletedAt
        FROM movie
        WHERE id = #{movieId} ;
    </select>

<!--    <select id="uploadMovieList" resultType="com.flab.Mytube.vo.MovieVO">-->
<!--        SELECT id, userId, subject, url, createdAt, deletedAt-->
<!--        FROM movie-->
<!--        WHERE userId = #{userId}-->
<!--    </select>-->

<!--    <select id="selectShow" parameterType="com.flab.Mytube.dto.streaming.LiveStreamingDTO" resultType="com.flab.Mytube.dto.streaming.LiveStreamingDTO">-->
<!--        select-->
<!--        id, title, contents-->
<!--        from live_streaming-->
<!--        where id = #{request.id}-->
<!--    </select>-->

<!--    <insert id="joinChat" useGeneratedKeys="true" keyProperty="param.ID">-->
<!--        INSERT INTO-->
<!--        LiveStreaming (USER_ID, MOVIE_ID, CONTENTS)-->
<!--        VALUES-->
<!--        (#{param.userId},#{param.movie_id}, #{param.chatContents})-->
<!--    </insert>-->
</mapper>