<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.Mytube.notices.repository.PostRepository">
    <insert id="save">
        INSERT INTO POST(USER_NAME, TITLE, POST_CONTENT)
        VALUES(#{post.userName}, #{post.titlae}, #{post.postContent});
    </insert>

    <select id="findAll" resultType="map">
        SELECT *
        FROM POST;
    </select>

    <select id="findOne" resultType="map">
        SELECT *
        FROM POST WHERE ID = ${id}
    </select>

    <update id="updatePost">
        UPDATE POST SET TITLE = #{post.title}, POST_CONTENT = #{post.postContent} WHERE ID= #{post.id}
    </update>

    <delete id="deleteById">
        DELETE FROM POST WHERE ID = ${id}
    </delete>
</mapper>