<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.Mytube.mappers.MovieMapper">
  <resultMap type="com.flab.Mytube.domain.Movie" id="Movie">
    <id column="id" property="id"/>
    <result column="userId" property="channelId"/>
    <result column="subject" property="subject"/>
    <result column="url" property="url"/>
    <result column="createdAt" property="createdAt"/>
    <result column="deletedAt" property="deletedAt"/>
  </resultMap>

  <insert id = "save" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.Mytube.dto.movie.request.FileUploadRequest">
    insert into movie(userId, subject, url)
    values(#{request.channelId}, #{request.subject}, #{request.url})
  </insert>

  <update id="delete" parameterType="long" keyProperty="movieId">
    update movie
    set deletedAt = SYSDATE()
    where id = #{movieId}
  </update>

  <select id="findByMovieId" resultMap="Movie" parameterType="long">
    select * from Movie
    where id = #{movieId};
  </select>

  <select id="findByChannelId" parameterType="long" resultMap="Movie">
    select * from Movie
    where userId = #{channelId};
  </select>
</mapper>